._main_hxfd4_1 {
  min-width: 560px;
  width: 90%;
  margin: 40px;
  padding: 10px;
  text-align: center;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
}
._result_hxfd4_11,
._central_hxfd4_16 {
  display: flex;
  gap: 10px;
}
._aside_hxfd4_21 {
  width: 300px;
}
._search_1ycli_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}
._search_1ycli_1 input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
._loader_1u2js_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._card_10yf5_1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 102px;
  justify-content: flex-start;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
._card_10yf5_1 ._img_10yf5_10 {
  width: 30%;
}
._card_10yf5_1 ._descriptionAll_10yf5_13 {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 6px;
  width: 200px;
}
._card_10yf5_1 ._descriptionAll_10yf5_13 ._name_10yf5_19 {
  font-size: 1.2rem;
  font-weight: 700;
}
._card_10yf5_1 ._descriptionAll_10yf5_13 ._description_10yf5_13 {
  text-align: left;
  font-size: 1rem;
}
._card_10yf5_1:hover {
  transform: scale(1.1);
}
._main_kdqy7_1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 45vh;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  overflow-y: scroll;
  min-height: 47vh;
}
._main_kdqy7_1 ._flyout_kdqy7_12 {
  margin-top: 6px;
}
._main_kdqy7_1 ._flyout_kdqy7_12 ._flyoutTitle_kdqy7_14 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
._main_kdqy7_1 ._flyout_kdqy7_12 ._flyoutTitle_kdqy7_14 ._checkbox_kdqy7_20 {
  display: none;
}
._main_kdqy7_1
  ._flyout_kdqy7_12
  ._flyoutTitle_kdqy7_14
  ._flyoutButton_kdqy7_24 {
  width: 30px;
  height: 30px;
  background: url(../../assets/icons/arrow_drop_down.svg) no-repeat center
    center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
._main_kdqy7_1
  ._flyout_kdqy7_12
  ._flyoutTitle_kdqy7_14
  ._flyoutButton_kdqy7_24._collapsed_kdqy7_32 {
  transform: rotate(180deg);
}
._main_kdqy7_1
  ._flyout_kdqy7_12
  ._flyoutTitle_kdqy7_14
  ._flyoutButtonCollase_kdqy7_36 {
  width: 30px;
  height: 30px;
  background: url(../../assets/icons/arrow_drop_down.svg) no-repeat center
    center;
  cursor: pointer;
  transform: rotate(-90deg);
}
._main_kdqy7_1 ._flyout_kdqy7_12 ._toggleContent_kdqy7_46 {
  display: flex;
  gap: 6px;
  font-size: 12px;
  transition: max-height 0.3s ease-out;
}
._pagination_13hco_1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
._header_17sjz_1 {
  margin-top: 0;
}
._footer_189if_1 {
  height: 100px;
}
._nofound_k4l8j_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._details_1tl5f_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
img {
  max-height: 60%;
  max-width: 60%;
  object-fit: contain;
}
._close_1tl5f_16 {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
._close_1tl5f_16:hover {
  transform: scale(1.1);
  border: none;
}
._close_1tl5f_16:active {
  border: none;
}
* {
  background-color: var(--bg-color);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #ffffff;
  --text-color: #000000;
}
[data-theme='dark'] {
  --bg-color: #333333;
  --text-color: #ffffff;
}
body,
.theme-wrapper {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}
.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
fieldset {
  border: 1px solid #eaeaea;
  padding: 10px;
  border-radius: 5px;
}
legend {
  font-size: 1.2rem;
  padding: 0 10px;
}
